.body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:#2196F3;}
.logo-studio{
    color:#212121 ;
    }

.header-nav {
    color: #212121;}

.header-link {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
  color: #212121;}

.header-nav .header-link:hover, 
.header-nav .header-link:focus{
    color: #2196F3;
 }

.header-nav .header-link:active
{ color: #2196F3;}

/* .main */

/* .section1 */

.section1{
    background: #2F303A;
}

.title1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
color: #FFFFFF;
}

.button-main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212121;
    background-color: #F5F4FA;
    width: 216px;
    height: 30px;
    align-items: center;
    text-align: center;}

.button-main:hover, 
.button-main:focus {
 color:#FFFFFF;
 background-color:#2196F3;
}

    
/* .filtr */
/* .button-filtr */

.button-filtr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    background-color: #F5F4FA;
}
.button-filtr:hover,
.button-filtr:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* .button-filtr-title1{
    width: 23px;
    height: 26px;
}
.button-filtr-title2 {
    width: 81px;
    height: 26px;
}
.button-filtr-title3 {
    width: 68px;
    height: 26px;
}
.button-filtr-title4 {
    width: 59px;
    height: 26px;
}
.button-filtr-title5 {
    width: 86px;
    height: 26px;
} */