.body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}


/* header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:#2196F3;
    text-decoration: none;
}
.logo-studio{
    color:#212121 ;
    }

.header-nav {
    list-style: none;
    color: #212121;}

.header-link {
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: #212121;}

.header-nav .header-link:hover, 
.header-nav .header-link:focus{
    color: #2196F3;
 }

.contac-list {
    list-style: none;
    color: #757575;
 }

.contact-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #757575;
 }

.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
    color:#2196F3;}

/* main */

/* section1 */

.section1{
    background: #2F303A;
}

.title1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-main {
    position: absolute;
    width: 152px;
    height: 30px;
    left: 724px;
    top: 440px;
    
    font-family: 'Roboto'
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: #F5F4FA;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}


.button-main:hover, 
.button-main:focus {
 color:#FFFFFF;
 background-color:#2196F3;
}
/* section2 */
.section2-list{
    list-style: none;
}
.section2-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.text-item2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* section3 */
.section3-list {
    list-style: none;}

.title2{
   font-weight: 700;
   font-size: 36px;
   line-height: 1,16;
   text-align: center;
   letter-spacing: 0.03em;
    color: #212121;
}

/* section4 */
.section4-list{
        list-style: none;
    }
.section4-title{
   font-weight: 500;
   font-size: 16px;
   line-height: 1,18;
   text-align: center;
   letter-spacing: 0.03em;
    color: #212121;
}
.text-item4{
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
 /* footer */
 .footer {
     background: #2F303A;
 }
.adress-list{
    list-style: none;
}

.footer-link1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,74;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,74;
    letter-spacing: 0.03em;
color: #757575;
}
.footer-link .footer-link1:hover,
.footer-link .footer-link1:focus {
    color: #2196F3;
}

/* filtr */
/* button-filtr */
.button-filtr-list{
    list-style: none;
}
.button-filtr-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
}
.button-filtr-item:hover,
.button-filtr-item:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* project */

.project-list{
    list-style: none;
}
.project-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.project-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1,88;
   letter-spacing: 0.03em;
   color: #757575;
}