.body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:#2196F3;}
.logo-studio{
    color:#212121 ;
    }

.header-nav {
    color: #212121;}

.header-link {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
  color: #212121;}

.header-nav .header-link:hover, 
.header-nav .header-link:focus{
    color: #2196F3;
 }

.contac-list {
     color: #757575;
 }

.contanc-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
 }

.contac-list .contanc-link:hover,
.contac-list .contanc-link:focus {
    color:#2196F3;}

/* main */

/* section1 */

.section1{
    background: #2F303A;
}

.title1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
color: #FFFFFF;
}

.button-main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212121;
    background-color: #F5F4FA;
    width: 216px;
    height: 30px;
    align-items: center;
    text-align: center;}

.button-main:hover, 
.button-main:focus {
 color:#FFFFFF;
 background-color:#2196F3;
}
/* section2 */

.section2-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.text-item2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
}

/* section3 */
.title2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
}

/* section4 */
.section4-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}
.text-item4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}
 /* footer */


.footer-link1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #757575;
}


.footer-link .footer-link1:hover,
.footer-link .footer-link1:focus {
    color: #2196F3;
}

/* filtr */
/* button-filtr */

.button-filtr-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    background-color: #F5F4FA;
}
.button-filtr-item:hover,
.button-filtr-item:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.project-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.project-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}